* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}



.title{
    text-align: center;
    padding: 2rem 0;
    font-size: 1.25rem;
    background-color: #da2e2c;
}

.content-container{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    background: linear-gradient( #da2e2c 40%, #090029 40%, #090029 42%, #ffffff 42% );
    height: 100vh;
}


.generations-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #ffffff;
    border: #000000 solid 10px;
    padding: 1rem;
    height: 700px;
}

.streak-title, .gen-title{
    text-align: center;
    margin-bottom: 1rem;
}

.genre{
    background-color: #DFDFDF;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.genre:hover{
    background-color: #D5A100;
}

.main-content{
    height: 700px;
    width: 800px;
    background-color: #ffffff;
    border: #000000 solid 10px;
}

#canvas-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.options-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

/* Buttons. Credit to https://codingartistweb.com/2023/04/whos-that-pokemon-javascript-project/ */
button {
    background-color: #ffffff;
    padding: 0.8em;
    border: 0.3em solid #090028;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0 0 #090028;

}
button:hover {
    box-shadow: none;
    transform: translateY(0.2em);
  }

.button-div{
    float: right;
    margin-right: 3rem;
}

.streak-container{
    width: 300px;
    height: 150px;
    background-color: #ffffff;
    border: #000000 solid 10px;
    padding: 1rem;
}


.streaks{
    display: flex;
    justify-content: space-around;
}

.streak{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    gap: 1rem;
}


.footer{
    background-color: #DFDFDF;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.social-media-links a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s linear;
}
.social-links:hover i{
    transform: scale(1.1);
}
.genSelected{
    color:red;
}

.correct{
    background: green;
}

.incorrect{
    background: red;
}